{%- set shared_menu_en = [
        {
            'name':
            'OpenRobotLab',
            'children': [
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/OpenRobotLab'
                },
                {
                    'name': 'OpenMMLab GitHub',
                    'url': 'https://github.com/open-mmlab/'
                },
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            'OpenRobotLab',
            'children': [
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/OpenRobotLab'
                },
                {
                    'name': '兄弟平台:OpenMMLab Github',
                    'url': 'https://openmmlab.com/'
                },
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
